@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Rubik', sans-serif;
    --fonte3: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}



html, body {
    background-color: #67996A;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;

   
    
}

a {
    font-weight: bolder;
    color: black;
}
a:hover {
    background-color: #0a6332;
}

ul {
    padding: 20px 0px 20px 22px;
    
}

.cabecalho {
    background-image: url(../imagens/Flag_map_of_Rio_Grande_Do_Sul-2.png);
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: 10px;
    font-family: var(--fonte1);
    
}

header {
    border: 1px solid black;
}

header > h1 {
    padding-top: 30px;
    font-family: var(--fonte3);
    text-align: center;
    text-decoration: underline;
    
}

p { 
    background-color: rgba(0, 0, 0, 0.281) ;
    color: white;
    text-align: justify;
   
    font-family: var(--fonte1);
    line-height: 1.8em;
    padding: 40px 10px 50px 20px;
    font-size: 1.7em;
    display: block;
    margin: 0px 0px 20px 20px;
    border-radius: 8px;
    max-width: 430px;
    min-width: 250px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.445);
  
    padding: 20px 10px 20px 20px;
 

}


.img01 {
    
    background-image: url(../imagens/fecosul.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw;
    background-size: 100vh;
    background-attachment: fixed;
    margin: 10px 0px 0px 0px;
    color: white;
} 


main { 
    
    border: 1px solid black;
    display: block;
    margin: auto;
    background-color: #183d0ea8;
}

footer {
   
    font-family: var(--fonte3);



}

.rodape-2 {
    text-align: center;
    background-color: gray;
    margin: 0px;
    padding: 0px;
    color: black;
    max-width: 1100px;
    margin: 3px 10px 30px 10px;
}
